@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Dancing+Script:wght@400..700&display=swap");


.bonheur-royale-regular {
    font-family: "Bonheur Royale", serif;
    font-weight: 400;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.dancing-script-variable {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.big-shoulders-inline-text-variable {
    font-family: "Big Shoulders Inline Text", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.edu-au-vic-wa-nt-arrows-variable {
    font-family: "Edu AU VIC WA NT Arrows", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
  }
  