/* Base Styles */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&family=Bonheur+Royale&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Fredericka+the+Great&display=swap");
html,
body {
  overflow: hidden;
}

body ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #310fc9;
  background-image: url(images/e74a4b32-efed-4fb5-81ec-f8415819a091.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Animations */
@keyframes elongate {
  from {
    width: 0;
    visibility: visible;
  }
  to {
    width: 30vw;
    visibility: visible;
  }
}
@keyframes retract {
  from {
    width: 30vw;
    visibility: visible;
  }
  to {
    width: 0;
    visibility: hidden;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-300%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideSideways {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200%);
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Initial Message Styles */
.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message, .messageEnd {
  font-family: "Big Shoulders Inline Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  animation: slideIn 2s ease-in-out;
  color: #f1f2eb;
}

.messageEnd {
  animation: fadeIn 3s ease-in-out reverse;
}

.highlight {
  color: rgb(128, 164, 237);
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

.line, .lineRetract {
  width: 0;
  border-color: #f1f2eb;
  visibility: hidden;
  animation: elongate 1s ease-in 2s forwards;
}

.lineRetract {
  width: 20vw;
  visibility: visible;
  animation: retract 1.5s ease-in forwards;
}

.slogan, .sloganEnd {
  margin-top: 8vh;
  opacity: 0;
  animation: zoomIn 1s ease-out 2s forwards;
  color: #f1f2eb;
  font-family: "Edu AU VIC WA NT Arrows", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sloganEnd {
  opacity: 1;
  animation: fadeIn 3s ease-out reverse;
}

/* Hidden class to hide elements */
.hidden {
  display: none;
}

.mainHub {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2em;
  margin-top: 10vh;
  background-color: hsla(69, 21%, 94%, 0.5);
  width: 80vw;
  height: 75vh;
  border-radius: 15px;
  box-shadow: 0 4px 30px hsla(358, 68%, 16%, 0.1);
  animation: moveUp 2s ease-in-out;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  color: #164256;
  height: 80%;
  width: 50%;
  font-size: 3.7rem;
  font-family: "Big Shoulders Inline Text", serif;
  font-optical-sizing: auto;
  font-weight: black 900;
  font-style: normal;
  margin: auto;
  animation: moveUp 3s ease-in-out;
}

.textSection p {
  text-transform: capitalize;
  color: #f1f2eb;
  font-size: 2.5rem;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #164256;
  width: 25vw;
  margin: auto;
  animation: slideSideways 4.5s ease reverse;
}

.form {
  background-color: #f1f2eb;
  width: 90%;
  height: 40vh;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form header {
  font-size: 3.5em;
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
  text-align: center;
  color: #80a4ed;
  text-transform: uppercase;
}

.form label {
  display: block;
  transform: translateX(-2%);
  margin-bottom: 8px;
  margin-top: 7px;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
}

.form input[type=text],
.form input[type=email] {
  width: 98%;
  height: 50px;
  padding: 15px;
  margin-bottom: 40px;
  border: 1px solid #847979;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form input[type=submit] {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  background-color: #80a4ed;
  border: none;
  border-radius: 6px;
  color: #f1f2eb;
  font-size: 1.5rem;
  font-family: "Big Shoulders Inline Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form input[type=submit]:hover {
  background-color: #164256;
}

/* Responsiveness */
@media (min-width: 2560px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 60vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 17ch;
  }
  .slogan, .sloganEnd {
    font-size: 3ch;
  }
  .form input[type=submit] {
    margin-top: 10vh;
  }
}
@media (min-width: 1440px) and (max-width: 2559px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 60vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 10ch;
  }
  .slogan, .sloganEnd {
    font-size: 2ch;
  }
  .textSection {
    font-size: 3rem;
  }
  .form {
    height: 50vh;
  }
  .form header {
    font-size: 2.8rem;
  }
  .form input[type=submit] {
    margin-top: 5vh;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 80vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 8ch;
  }
  .slogan, .sloganEnd {
    font-size: 2ch;
  }
  .textSection {
    font-size: 2rem;
  }
  .textSection p {
    font-size: 2rem;
  }
  .mainHub {
    width: 90vw;
  }
  .form header {
    font-size: 2rem;
  }
  .form label {
    font-size: 1.2rem;
  }
  .form input[type=text],
  .form input[type=email],
  .form input[type=submit] {
    height: 13%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 8% 0vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 7ch;
  }
  .slogan, .sloganEnd {
    font-size: 2ch;
  }
  .mainHub {
    flex-direction: column;
    height: 90vh;
    margin: auto;
  }
  .textSection {
    font-size: 1.2rem;
    width: 80%;
    animation: moveUp 3s;
  }
  .textSection h1 {
    font-size: 2.5em;
  }
  .textSection p {
    font-size: 1.3em;
  }
  .form {
    margin: 0;
    width: 50vw;
  }
  .form header {
    font-size: 2.5rem;
  }
  .form label {
    font-size: 1.5rem;
  }
  .form input[type=submit] {
    margin: 0;
  }
  .formSection {
    animation: moveUp 4.5s ease;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 60vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 4ch;
  }
  .slogan, .sloganEnd {
    font-size: 1.5ch;
  }
  .mainHub {
    flex-direction: column;
    height: 90vh;
    margin: auto;
  }
  .textSection {
    font-size: 1.2rem;
    width: 80%;
    animation: moveUp 3s;
  }
  .textSection h1 {
    font-size: 2.5em;
  }
  .textSection p {
    font-size: 1.3em;
  }
  .form {
    margin: 0;
    width: 65vw;
  }
  .form header {
    font-size: 2.5rem;
  }
  .form label {
    font-size: 1.5rem;
  }
  .form input[type=submit] {
    margin: 0;
  }
  .formSection {
    animation: moveUp 4.5s ease;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 60vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 3ch;
  }
  .slogan, .sloganEnd {
    font-size: 1.3ch;
  }
  .mainHub {
    flex-direction: column;
    height: 90vh;
    margin: auto;
  }
  .textSection {
    font-size: 1.2rem;
    width: 80%;
    animation: moveUp 3s;
  }
  .textSection h1 {
    font-size: 2.5em;
  }
  .textSection p {
    font-size: 1.3em;
  }
  .form {
    margin: 0;
    width: 65vw;
  }
  .form header {
    font-size: 2rem;
  }
  .form label {
    font-size: 1.2rem;
  }
  .form input[type=submit] {
    margin: 0;
  }
  .formSection {
    animation: moveUp 4.5s ease;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .welcomeMessage {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    width: 60vw;
    height: 80vh;
  }
  .message, .messageEnd {
    font-size: 2.5ch;
  }
  .slogan, .sloganEnd {
    font-size: 1.1ch;
  }
  .mainHub {
    flex-direction: column;
    height: 90vh;
    margin: auto;
  }
  .textSection {
    font-size: 1.2rem;
    width: 80%;
    animation: moveUp 3s;
  }
  .textSection h1 {
    font-size: 2.5em;
  }
  .textSection p {
    font-size: 1.3em;
  }
  .form {
    margin: 0;
    width: 65vw;
  }
  .form header {
    font-size: 1.8rem;
  }
  .form label {
    font-size: 1rem;
  }
  .form input[type=submit] {
    margin: 0;
  }
  .formSection {
    animation: moveUp 4.5s ease;
  }
}/*# sourceMappingURL=styles.css.map */